.main-container {
    margin-top: 80px;
    @media (min-width: 1400px) {
        margin-top: 150px;
    }
}
.header-title {
    color: white;
}
.game-title {
    text-align: center;
    font-size: 40px;
    .game-taiwan {
        width: 70px;
        @media (min-width: 1400px) {
            margin-top: 90px;
        }
    }
    @media (min-width: 1400px) {
        margin-top: 60px;
    }
}
.arrive-title {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    @media (min-width: 1400px) {
        margin-top: 50px;
    }
}
.arrive-time {
    display: none;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    @media (min-width: 1400px) {
        margin-top: 50px;
    }
}
.arrive-waiting {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    .waiting-word {
        display: none;
    }
    @media (min-width: 1400px) {
        margin-top: 40px;
    }
}
.spinner {
    display: none;
    width: 70px;
    text-align: center;
    @media (min-width: 1400px) {
        width: 90px;
    }
}

.spinner > div {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    @media (min-width: 1400px) {
        width: 20px;
        height: 20px;
    }
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
