//run sass --watch scss:content/stylesheets/ in Project
.ng-scope {
    height: 100%;
}
body {
    font-size: 16px;
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    background-color: #329fa2;
    margin: 0;
    height: 100%;
    width: 100%;
}
.header-container {
    z-index: 100;
    color: #329fa2;
	font-size:26px;
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 20px 60px;
    .header-title {
        display: inline-block;
        font-size: 30px;
    }
    .header-logo {
        animation: floating-taiwan 2s infinite;
        width: 30px;
    }
}
.main-container{
	padding:20px;
    position: relative;
    height: 100%;
    width: 100%;
}
footer {
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    .footer-container {
        text-align: center;
        height: 60px;
        line-height: 30px;
    }
}
.moving-arrow {
    display: inline-block;
    margin: 0 15px;
    animation: moving 2s infinite;
}
@keyframes moving {
  0% {
    transform: translateX(0px);
	}
  50% {
    transform: translateX(-10px);
	}
  100% {
    transform: translateX(0px);
	}
}
@keyframes floating-taiwan {
  0% {
    transform: translateY(0px);
	}
  50% {
    transform: translateY(-3px);
	}
  100% {
    transform: translateY(0px);
	}
}
