body{
	margin:0;
	text-align:center;
}
.logo{
	font-size:36px;
	.logo-img{
		width:130px;
		height:200px;
	}
}
.form{
	margin:50px;
	font-size:26px;
	.form-text{		
		color:#329fa2;
	}
	.form-btn{
		margin:10px;
		color:#329fa2;
	}
}