<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>微軟寒假分享會</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../content/stylesheets/global.css" />
    <link rel="stylesheet" href="../content/stylesheets/prepare.css" />
    <script type="text/javascript">
         function waiting (){
            $('.loading-cover').css('display', 'block');
			var wsServer = 'ws://127.0.0.1:8080';
			var socket = new WebSocket(wsServer);
			socket.onopen = function (evt) { onOpen(evt) };
			socket.onclose = function (evt) { onClose(evt) };
			socket.onmessage = function (evt) { onMessage(evt) };
			socket.onerror = function (evt) { onError(evt) };
            // setTimeout(function(){
                // window.location.assign("game.html");
            // }, 2000);
        }
		function onOpen(evt) {
			console.log("连接服务器成功");
			isConnect = true;
		}
		function onClose(evt) {
			console.log("Disconnected");
		}
		function onMessage(evt) {
			var data = JSON.parse(evt.data);
			switch (data.type) {
				case 'text':
					window.location.assign("game.html");
					console.log(data.msg);
					break;
				case 'num' :
					console.log(data.msg);
					break;
			}

			console.log('Retrieved data from server: ' + evt.data);
		}
		function onError(evt) {
			//console.log('Error occured: ' + evt.data);
		}
		function sendMsg() {
			if(isConnect){
				ws.send($('input').value);
				$('input').value = '';
			}
		}
    </script>
</head>
<body ng-controller="prepareController">
    <div class="loading-cover">
        <div class="loading-title">
            Waiting
        </div>
        <div class="footprints-box">
            <img class="footprints" src="../images/footprints.png">
        </div>
    </div>
    <div class="header-container">
        <div class="header-title">
            微。跡<img class="header-logo" src="../images/taiwan-1.png" hspace="10">
        </div>
    </div>
    <div class="triangle"></div>
	<div class="col-lg-12 main-container" >
        <div class="guide-title">挑戰賽<span style="color: white;">說明</span></div>
        <div class="deer-box">
            <img class="deer" src="../images/deer.png">
        </div>
		<div class="col-lg-5 col-lg-offset-6 guide">
            <div class="team-name">
                <div class="moving-arrow">></div>
                隊伍名稱：{{teamName}}
            </div>
            <div class="team-car-box">
                <div class="moving-arrow">></div>
                您的車子：<img class="team-car" src="{{teamCar}}" hspace="10">
            </div>
			<div class="guide-detail">
				1.答對題目可前進一格</br>
				2.答錯或時間到會倒退一格</br>
				3.題目為四選一的選擇題</br>
                4.每答對五題會有一個小挑戰必須完成</br>
				5.最先抵達終點的隊伍獲勝</br>
				6.遊戲時間為15分鐘
            </div>
			<button type="submit" value="" onclick="waiting()">準備好了!</button>
		</div>
    </div>
    <footer>© Microsoft Corporation. Made by MSSeed 13th.</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../controller/controller.js"></script>
</body>
</html>
