#myCanvas {
  margin: 20px 10px; }
  @media (min-width: 1400px) {
    #myCanvas {
      margin: 50px 30px; } }

.status-box .status-title {
  font-size: 30px;
  color: #329fa2; }
  @media (min-width: 1400px) {
    .status-box .status-title {
      font-size: 40px; } }

.loading-cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(1, 1, 1, 0.95); }
  .loading-cover .loading-title {
    text-align: center;
    position: absolute;
    width: 200px;
    margin-left: -100px;
    top: 50%;
    left: 50%;
    font-size: 50px; }

.main-container {
  margin: 0;
  padding: 0; }

.map-container {
  background-color: white;
  height: 100vh; }

.qa-container {
  height: 100%; }
  .qa-container .col-lg-2 {
    width: 80px; }
  .qa-container .response-box {
    display: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    line-height: 40px; }
    @media (min-width: 1400px) {
      .qa-container .response-box {
        font-size: 25px; } }
  .qa-container .timer-box {
    margin-top: 30px;
    text-align: center;
    height: 82px;
    line-height: 82px; }
    .qa-container .timer-box #timer {
      font-size: 36px; }
  .qa-container .challenge-question {
    display: none;
    position: absolute;
    top: 25%;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    background-color: white;
    color: #329fa2; }
    .qa-container .challenge-question .password-box {
      margin-top: 20px; }
      .qa-container .challenge-question .password-box .password {
        border: none;
        outline: 0;
        border-bottom: #329fa2 solid 2px; }
      .qa-container .challenge-question .password-box .pass-btn {
        margin-top: 20px;
        background-color: transparent;
        border: none; }
  .qa-container .real-question .question {
    height: 120px;
    font-size: 25px; }
    @media (min-width: 1400px) {
      .qa-container .real-question .question {
        font-size: 35px; } }
  .qa-container .real-question .answer {
    height: 150px; }
    .qa-container .real-question .answer .ans1, .qa-container .real-question .answer .ans2, .qa-container .real-question .answer .ans3, .qa-container .real-question .answer .ans4 {
      outline: 0;
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
      width: 150px;
      height: 100%;
      border: solid 2px white;
      background-color: transparent;
      color: white;
      transition: all 0.2s linear; }
      .qa-container .real-question .answer .ans1:active, .qa-container .real-question .answer .ans2:active, .qa-container .real-question .answer .ans3:active, .qa-container .real-question .answer .ans4:active {
        background-color: white;
        color: #329fa2; }
      @media (min-width: 1400px) {
        .qa-container .real-question .answer .ans1, .qa-container .real-question .answer .ans2, .qa-container .real-question .answer .ans3, .qa-container .real-question .answer .ans4 {
          width: 200px;
          margin-top: 50px;
          font-size: 25px; } }
    @media (min-width: 1400px) {
      .qa-container .real-question .answer {
        height: 200px; } }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px; }

/* -- CIRCLE -- */
.circle {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 999px;
  box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.5); }
  @media (min-width: 1400px) {
    .circle {
      width: 100px;
      height: 100px; } }

#l-half, #r-half {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden; }
  #l-half:before, #r-half:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 6px solid #fff; }

.l-half-animation:before {
  -webkit-animation-name: l-rotate;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards; }

#l-half:before {
  border-right: none;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  -webkit-transform-origin: center right; }

.r-half-animation:before {
  -webkit-animation-name: r-rotate;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards; }

#r-half:before {
  border-left: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  -webkit-transform-origin: center left; }

/* -- TIMER -- */
#count {
  position: absolute;
  width: 100%;
  line-height: 80px;
  text-align: center;
  font-weight: 800;
  font-size: 34px;
  font-family: Helvetica;
  color: #fff;
  z-index: 2; }
  @media (min-width: 1400px) {
    #count {
      font-size: 44px;
      line-height: 100px; } }

.count-animation {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation: fadeout 0.5s 61s 1 linear; }

@-webkit-keyframes l-rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg); } }
@-webkit-keyframes r-rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(180deg); } }
@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

/*# sourceMappingURL=game.css.map */
